.header-menu {
    background-color: rgb(255, 240, 89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7rem;

    .cima {
        flex-direction: row;
        display: flex;
        gap: 20px;
        margin-top: 22px;
        align-items: center;
        text-align: center;
        height: 30px;

        .logo-ml {
            width: 100px;
            margin-left: 50px;
        }

        .pesquisa {
            padding: 7px 60px 9px 15px;
            border-radius: 2px;
            background-color: #fff;
            border: none;
            outline: 0;
            width: 275px;
            // height: 20px;
            // width: 350px;
        }

        .div-pesquisa {
            background-color: #fff;
            width: 600px;
            height: 40px;
            display: flex;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
            align-items: center;
            justify-content: space-around;
            gap: 10px;

            button {
                background-color: transparent;
                border: 0;
                border-left: 1px solid rgb(221, 221, 221);
                color: #727171;
                height: 30px;
                cursor: pointer;
            }
        }

        i {
            width: 50px;
        }

        .ofertas {
            color: black;
            display: flex;
            margin-left: 100px;
            align-items: center;

            i {
                width: 30px;
                padding: 5px;
            }

            p {
                font-size: 15px;
                margin: 0;
            }
        }
    }


    .header-baixo {
        color: rgb(85, 85, 85);
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;

        .baixo-esquerda {
            display: flex;
            flex-direction: row;
            font-size: 13px;
            width: 10px;
            margin-bottom: 15px;


            .material-symbols-outlined {
                font-size: 1.5rem;
            }

            .local {
                display: flex;
                flex-direction: column;
            }
        }

        .baixo-meio{
            margin-left: 10rem;
            font-size: 13px;
            display: flex;
            gap: 16px;
            margin-top: 23px;
        }

        .baixo-direita{
            font-size: 13px;
            margin-left: 100px;
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 33px;

            .palavras{
                display: flex;
                gap: 20px;
            }

            .icones{
                margin-left: 5px;

                span{
                    margin-left: 5px;
                }
            }
            
        }
    }

}


.caixa-esquerda {
    width: 100%;
    // height: calc(100% - 7rem);
    background-color: rgb(237, 237, 237);
    

    mat-drawer{
        background-color: rgb(245, 245, 245);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        // height: 100vh;
        width: 200px;
        color: rgb(140, 140, 140);
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    ul li:first-child{
        margin-top: 25px;
        margin-bottom: 35px;
        font-size: 16px;
    }
    ul li{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    .sidebar{
        padding-left: 1rem;
    }
}

mat-card{
    background-color: transparent;
    width: 604px;
      
}

mat-drawer-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(140, 140, 140);
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-cima{
    background-color: rgb(255, 255, 255); 
    width: 604px;
    height: 92px;    
    border-radius: 10px;   

    .perfil{
        display: flex;
        align-items: center;
        
        mat-icon{
            font-size: 30px;
            width: 70px;
            height: 30px;
            
        }
        .nivel{
            display: flex;
            flex-direction: column;
            align-items: baseline;  
            margin-left: 10px;     

            .nome{
                color:rgba(0,0,0,.9);
                font-size: 18px;
            }
        }
    }
}


.card-baixo{
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);    
    width: 604px;   
    padding-bottom: 3rem;
    border-radius: 10px;  
    mat-icon{
        font-size: 25px;
    }
    
    ul {
        width: 100%;
        padding: 0;
    }
    
    .linha{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
        justify-content: center;
        height: 10px;
        margin-bottom: - 8px;

        .coisas-lado{
            width: 85%;
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            justify-content: space-between ;
        }
        
        .frase-de-cima{
            color:rgba(0,0,0,.9);
            font-size: 18px;
            display: flex;
            justify-content: baseline; 
        }
    }

    .divider{
        display: flex;
        justify-content: center;
    }
    mat-divider{
        background-color: rgb(165, 165, 165);
        ;
        width: 90%;
    }
}

