<body>
  

<header>
  <mat-toolbar class="header-menu">
    <div class="cima">
    <div>
      <a><img src="../../../assets/logo-ml.png" alt="" class="logo-ml" /></a>
    </div>
    <div class="div-pesquisa" >
        <input class="pesquisa" type="text" placeholder="Buscar produtos, marcas e muito mais…" >
        <button class="lupa" ><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="ofertas">
        <i class="fa-sharp fa-solid fa-tag"></i>
        <p>Ofertas por tempo limitado</p>
    </div>
  </div>

    <div class="header-baixo">
      <div class="baixo-esquerda">
        <span class="material-symbols-outlined">location_on</span>
        <div class="local">
          <span>Informe seu</span>
          <span>CEP</span>  
        </div>
      </div>
      <div class="baixo-meio">
        <span>Categorias</span>
        <span>Ofertas do dia</span>
        <span>Histórico</span>
        <span>Supermercado</span>
        <span>Moda</span>
        <span>Vender</span>
        <span>Contato</span>
      </div>
      <div class="baixo-direita">
        <div class="palavras">
          <p>Crie sua conta</p>
          <p>Compras</p>
          <p>Favoritos</p>  
        </div>
        <div class="icones">
          <span class="material-symbols-outlined">notifications</span>
          <span class="material-symbols-outlined">shopping_cart</span>
        </div>
      </div>  
    </div>
  </mat-toolbar>
</header>


  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container>


</body>