main {color: var(--font-color);
    font-size: var(--font-size);
    padding: var(--padding);
    margin: var(--margin);
    background-color: var(--primary-color);
}
   
main h1 { 
    color: var(--secondary-color);
}